@charset "UTF-8";

*{ 
    margin: 0;
    padding: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
body, html {
    background-color: aliceblue;
}
:root {
   --cor1:#96DCD1;
   --cor2:#1D3047;
}
nav {
    display: flex;
    height: 10vh;
}
#logo {
    background-color:var(--cor1);
    width: 100vw;
    background-image: url(IMAGENS/LOGO.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;

}
#logo > img {
    height: 100%;
    width: 100%;
    
}

/*----------------------------------------------------------*/
menu {
    display: none;
}

#burguer{
    background-color:var(--cor2);
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
}
i#burguer:hover{
    color: rgb(255, 255, 255);
    cursor: pointer
}


#itens{
    background-color: var(--cor1);
    height: 100%;
    text-align: center;
}


#itens > ul > li {
    height: 100%;
    background-color:var(--cor1);
    padding: 10px;
    border: 1px solid black;
}

#itens > ul > li > a {
    display: block;
    text-decoration: none;
    color:black;
    font-size: 20px;
    
}


/*-----------------------------------------------------------*/

#container > img {
    height: 480px;
    width: 100%;

}

#container2 {
    margin-top: 35px;
    height: 500px;
    background-color: aliceblue;
   
}
 #container2 > picture {
    display: block;
    background-image: url(IMAGENS/aculputurap2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    border-radius: 100%;
}
 #container2 > h2,p {
    background-color: aliceblue;
    padding: 15px;
    text-align: center;
    font-family: "Quicksand", sans-serif;
}

#bottom-action {
    display: flex;
    margin: auto;
    background-color: var(--cor2) ;
    height: 40px;
    width: 130px;
    border-radius: 50px;
}

#bottom-action :hover {
    display: flex;
    margin: auto;
    height: 40px;
    width: 200px;
    border-radius: 50px;
    background-color: #96DCD1;
    color: var(--cor2);
    
}

#bottom-action > a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: aliceblue;
    height: 40px;
    width: 100%;
}

section > h1 {
    padding: 20px;
    text-align: center;
    background-color: #1d3047;
    color: #96DCD1;
    font-family: "Quicksand", sans-serif;
}

section {
    display: block;
    height: 100;
    margin-top: 10px;
    background-color:#1d3047ee;
}

#imagem3 {
    display: flex;
    margin: auto;
    background-image: url(IMAGENS/aculputurap3.jpg);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 33px;
    height: 80vh;
}
 section p {
    padding: 20px;
    font-family: "Quicksand", sans-serif;
    color: var(--cor1);
    background-color:#1d304700;
    text-align: justify;

}

#imagem4 {
    display: flex;
    margin: auto;
    background-image: url(IMAGENS/aculputurap4.jpg);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 33px;
    height: 80vh;
}

#bottom-action2 {
    display: flex;
    margin: auto;
    background-color: var(--cor1) ;
    height: 40px;
    width: 130px;
    border-radius: 50px;
}

#bottom-action2 :hover {
    display: flex;
    margin: auto;
    height: 40px;
    width: 200px;
    border-radius: 50px;
    background-color:var(--cor2);
    color: var(--cor1);
    box-shadow: 4px solid #96DCD1;
    
}

#bottom-action2 > a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    height: 40px;
    width: 100%;
    font-weight: bolder;
}

#imagem5 {
    display: flex;
    margin: auto;
    background-image: url(IMAGENS/aculputurap5.jpg);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 33px;
    height: 80vh;
}
#title-f { 
    background-color: var(--cor1);
    padding: 20px;
    text-align: center;
    font-family: "Quicksand", sans-serif;
}
