@charset "UTF-8";
/*Pequenas Telas: até 600px
Celular: de 600px até 768px
tablet: de 768 até 992
Desktop: de 992px até 1200px
Grandes telas: acima de 1200
*/
:root {
    --cor1:#96DCD1;
    --cor2:#1D3047;
}

@media screen and (min-width:768px) and (max-width:992px) { /*tablet*/

    menu {
        display: block;
        display: none;
    }

    #imgcelular {
         display: none;
    }

    i#burguer {
        display: none;
    }

    #itens > ul {
        padding: 10px;
    }

    
    #container2 {
       height: 500px;
       margin: 0px;
       
    }
    #container2 >picture{
        display: block;
        box-sizing: border-box;
        height: 400px;
        background-color:var(--cor2);
        
    }
    
    
    #h11{
        height: 50px;
        padding-top: 20px;
        margin-right:50px ;
        margin-bottom: -22px;
        margin-left: 50px;
        text-align: center;
        
    }

    #pin{
        margin-right:50px ;
        margin-left: 50px;
        text-align: justify;
        
    }
    
    #bottom-actionh2 {
        display: flex;
        margin: auto;
        background-color: var(--cor2) ;
        height: 40px;
        width: 130px;
        border-radius: 50px;
    }
    section h1 {
        background-image: linear-gradient(to right, #96DCD1,#1D3047,#1D3047, #1D3047,#1D3047, #96DCD1);
        padding-right:50px;
        padding-left:50px;
    }
    #imagem3{
        margin-top: 0px;
    }
    #sectionp2{
        padding-right:50px;
        padding-left:50px;
        background-color: aliceblue;
        color: var(--cor2);
        font-size: 1.1em;
    }
    
    .apagar{
        padding-right:50px;
        padding-left:50px;
        background-color: aliceblue;
        color: var(--cor2);
        font-size: 1.1em;
    }
    section {
        margin-top: 50px;
    }
    #bottom-action1{
        display: flex;
        margin: auto;
        background-color: var(--cor1) ;
        height: 40px;
        width: 130px;
        border-radius: 50px;
        margin-bottom: 10px;
        margin-top: 10px;
        
    }
    #imagem5{
        margin-top: 0px;
    }
    section p {
        padding-right:50px;
        padding-left:50px;
    }
    #itens > ul > li {
        display: inline-block;
        border-radius: 20px;
        border: 2px solid #1D3047;
        background-color: var(--cor2);
        padding: 0px;
    }
    
    #itens > ul > li > a{
        display: inline-block;
        padding: 0px;
        padding: 10px;
        color: aliceblue;
    }
    
    #bottom-action{
        display: none;
    }
    
    

    #imagem3 > h1 {
        display: none;
    }
    
    #imagem3 img {
        display: none;
    }
    

    #bottom-action1 a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        height: 100%;
        width: 100%;
        font-weight: bolder;
        font-family:"Quicksand", sans-serif;
    }
    #bottom-action1 a:hover{
        background-color: var(--cor1);
        color: var( --cor2);
        border-radius: 20px;
        box-shadow: 0px 0px 20px aliceblue;
    }
    #imgcelular{
        display: none;
    }
}

@media screen and (min-width:992px) and (max-width:1200px) {
    #menu{
        display: none;
    }
        #burguer {
            display: none;
        }

        #imgcelular {
            display: none;
        }
        main {
            margin-right:100px ;
            margin-left:100px ;
            box-shadow: 0px 0px 10px black;
        }
        #container2 {
            height: 400px;
            width: 100%;
            margin-top: -10px;
            margin-bottom: -9px;
            background-color: var(--cor2);
            
        }
        
        div{
            height: 100%;
            width: 100%;
        }
        
        #container2 > picture {
            display: block;
            background-size: contain;
            margin: auto;
            height: 100%;
            width: 44%;
            float: right;
            background-color: var(--cor2);
        }
        #pin {
            margin-top: 30px;
            background-color: red;
            padding-top: 10px;
        }
        #container2 h2 {
            display: block;
            float: left;
            height: 100%;
            width: 56%;
            margin: auto;
            background-color: var(--cor2);
        }  
       
    
        #box-action  p {
            background-color: var(--cor2);
            margin-top: 18px;
            padding-top: 40px;
            text-align: left;
            text-align: center;
            color: var(--cor1);
        }
        
        

        #bottom-action {
            display: block;
            width: 100%;
            border-radius: 0px;
            margin-top: 20px;
            background-color: #1d304700;
        }
        #bottom-action a {
            background-color:var(--cor1);
            width: 12%;
            margin: auto;
            font-weight: bold;
            border-radius: 25px;
            color: var(--cor2);
            
        }
        #bottom-action a:hover{
            width: 14%;
            font-weight: bold;
            margin: auto;
            border-radius: 25px;
            box-shadow: 0px 0px 500px aliceblue;
            transition: 0.5s;

        }

        #bottom-actionh2{
            height: 30px;
            border-radius: 10px;
            padding: 10px;
            width: 25%;
            background-color:var(--cor1);
        }
        #bottom-actionh2 a {
            color: var(--cor2);
            
        }
        #bottom-actionh2:hover {
            background-color: var(--cor1);
            color: var( --cor2);
            width: 30%;
            border-radius: 10px;
            box-shadow: 0px 0px 500px aliceblue;
            transition: 0.5s;
        }
        #co2{
            margin-top: 0px;
        }

        section h1 {
            display: none;
        }

        
        #imagem3 {
            background-image: none;
        }

        #imagem3 {
            position: relative;
            display: block;
            background-image: url(../IMAGENS/bg1.png);
            background-position: center center;
            background-size: cover;
            height: 550px;
            box-sizing: 0;
            margin: 0px;
        }

        #imagem3 h1 {
            display: block;
            text-align: center;
            padding-top: 15px;
            padding-right: 100px;
            padding-left: 100px;
            color: aliceblue;
            text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.555);
            font-size: 20px;
        }
        #imagem3 img {
            display: flex;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -4%);
            height: 52%;
            width: 30%;
            object-fit: cover;
        }

        #img3-1 {

            height: 10px;
        }

        section p {
            margin-right:53px ;
            margin-left:53px ;
            font-family: "Quicksand", sans-serif;
        }
        
        #imagem4, #imagem5 {
            display: none;
        }
        #sectionp2 {
            display: none;
        }

        .apagar {
            display: block;
        }

        #bottom-action2  {
            display: block;
            width: 12%;
            margin-top: 15px;
            margin: auto;
        }
        
        #bottom-action2:hover {
            background-color: var(--cor1);
            width: 13%;
            border: 0px 0px 500px aliceblue;
            transition: 0.5s;
        }
        #coluna3 {
            display: flex;
        }
        #coluna3 p {
            margin: 10px;
            padding: 0px;
            width: 50vw;
            padding: 10px;
            border-radius: 10px;
            background-color: var(--cor1);
            color: var(--cor2);
            font-family: "Quicksand", sans-serif;
            font-size: 17px;
            text-align: center;
        }
        #title-f {
            display: flex;
            align-items: center;
            margin: 10px;
            padding: 10px;
            border-radius: 10px;
        }
        #bottom-action1{
            display: none;
        }
        
}
@media screen and (min-width:1200px)and (max-width:5000px) {
    #menu{
        display: none;
    }
    #logo{
        background-color: var(--cor1);
    }
    #burguer {
        display: none;
    }

    #imgcelular {
        display: none;
    }
    main {
        margin-left:20%;
        margin-right: 20%;
        box-shadow: 0px 0px 20px black;
    }
    #container2 { 
        width: 100%;
        height: 700px;
        margin-top: 0px;
        background-color: var(--cor2);

    }


    #container2 > picture {
        display: flex;
        margin: auto;
        height: 100%;
        width: 44%;
        float: right;
        margin: auto;
        object-fit: contain;
        border-radius: 100%;

    }

    #box-action{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    
    #container2 h2 {
        float:left ;
        height: 100%;
        width: 56%;
        text-align: left;
        margin: 0px;
        background-color: var(--cor2);
    }  

     #box-action > p {
        text-align: left;
        text-align: center;
        color: var(--cor1);
        background-color: var(--cor2);
    }
    

    
    #bottom-actionh2{
        margin: 0px;
        margin-top: 20px;
        height: 30px;
        border-radius: 10px;
        padding: 10px;
        width: 25%;
        background-color:var(--cor1);
        margin-left: auto;
        margin-right: auto; 
    
    }
    #co2 {
        margin: 0px;
    }
    #bottom-actionh2 a {
        color: var(--cor2);
    }
    #bottom-actionh2:hover {
        background-color: var(--cor1);
        color: var( --cor2);
        border-radius: 10px;
        box-shadow: 0px 0px 300px aliceblue;
    }

    section h1 {
        display: none;
    }

    
    #imagem3 {
        background-image: none;
    }

    #imagem3 {
        display: flex;
        flex-direction: column;
        background-image: url(../IMAGENS/bg1.png);
        background-position: center center;
        background-size: cover;
        height: 100%;
        margin: 0px;
    }

    #imagem3 h1 {
        display: block;
        text-align: center;
        padding-top: 15px;
        height: 100%;
        padding-right: 100px;
        padding-left: 100px;
        color: aliceblue;
        text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.555);
        font-size: 20px;
    }
        
    #imagem3 img {
        display: flex;
        margin: auto;
        height: 250px;
        width: 250px;
        object-fit: cover;
        
    }

    section p {
        margin-right:53px ;
        margin-left:53px ;
        font-family: "Quicksand", sans-serif;
    }
    
    #imagem4, #imagem5 {
        display: none;
    }
    #sectionp2 {
        display: none;
    }

    .apagar {
        display: block;
    }

    #bottom-action2  {
        display: none;
        margin-top: 15px;
    }
    #coluna3 {
        display: flex;
    }
    #coluna3 p {
        margin: 10px;
        padding: 0px;
        width: 50vw;
        padding: 10px;
        border-radius: 10px;
        background-color: var(--cor1);
        color: var(--cor2);
        font-family: "Quicksand", sans-serif;
        font-size: 17px;
        text-align: justify;
    }
    #title-f {
        display: flex;
        align-items: center;
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
    }
    #bottom-action1{
        display: none;
    }
    #bottom-action2 {
        display: block;
    }

    #bottom-action{
        margin: 0px;
        height: 50px;
        background-color: green;
        margin-top: 0px;
    }
    #bottom-action a {
        background-color: var(--cor1);
        display: flex;
        flex-direction: row;
        margin: auto;
        text-decoration: none;
        color: rgb(0, 0, 0);
        height: 40px;
        width: 130px;
        font-weight: bolder;
        border-radius: 20px;
    }

    #bottom-action > a:hover{
        width: 130px;
    }
    #h11{
        padding: 20px;
        font-size: 1.5em;
    }
    #bottom-action{
        display: block;
        width: 100%;
        border-radius: 0px;
        margin-top: 20px;
        background-color: #1d304700;
    }
}